/*

Create a full width layout using flex box CSS properties.

Add any additional CSS rules to style the form and search results output.

*/

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 60rem;
  background: #EEEEEE88;
}

.header {
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10rem;
}

.logo > img{
  width: 100%;
  object-fit: contain;
}

.header h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.content {
  flex: auto;
}

.footer {
  height: 10rem;
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.footer p {
  margin: 0;
}

.footer ul{
  list-style: none;
  margin: 0;
}

.footer ul li{
  float: left;
  padding: 0 1rem;
}

.footer a{
  text-decoration: none;
}

input {

}

button {

}